<a href="https://colab.research.google.com/github/olaniyi2oguns/Ad_Hoc/blob/main/Absenteeism_data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import necessary libraries

In [202]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from datetime import datetime

# Load the dataset

In [203]:
dataset = pd.read_csv('/content/drive/MyDrive/DATA SCIENCE/Absenteeism_data.csv')

# Pre-process the dataset

### Feature engineering

In [204]:
dataset = dataset.drop(['ID'], axis=1) # since ID is not going to add any value to the model, we need to drop it

### Analysing the "Reason for Absence" column

In [205]:
dataset['Reason for Absence'].min() #to get the smallest figure

0

In [206]:
dataset['Reason for Absence'].max() #to get the highest figure

28

In [207]:
sorted(dataset['Reason for Absence'].unique()) # sort function will list out the different categories contained in the column

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28]

In [208]:
dataset['Reason for Absence'].nunique() # the unique function will give the number of different categories in the column

28

### Create dummy variables for the Reason for Absence column

In [209]:
Reason = pd.get_dummies(dataset['Reason for Absence'], drop_first =True) #drop_first class will help to remove the first column of the dummy variable as it is not relevant in the analysis.

### Create different groups from the dummy variable

In [210]:
reason_type1 =Reason.loc[:, 14]
reason_type2 =Reason.loc[:, 15:17].max(axis=1)
reason_type3 =Reason.loc[:, 18:21].max(axis=1)
reason_type4 =Reason.loc[:, 22:].max(axis=1)

In [211]:
dataset.columns.values # this is done to call out all existing columns in the dataFrame

array(['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours'], dtype=object)

In [212]:
dataset = pd.concat([dataset, reason_type1, reason_type2, reason_type3, reason_type4], axis =1) # Add the new group of Reason for Absence into the existing columns

In [213]:
print(dataset)

     Reason for Absence        Date  Transportation Expense  Distance to Work  \
0                    26  07/07/2015                     289                36
1                     0  14/07/2015                     118                13
2                    23  15/07/2015                     179                51
3                     7  16/07/2015                     279                 5
4                    23  23/07/2015                     289                36
..                  ...         ...                     ...               ...
695                  10  23/05/2018                     179                22
696                   6  23/05/2018                     225                26
697                  10  24/05/2018                     330                16
698                  23  24/05/2018                     235                16
699                  28  31/05/2018                     291                31

     Age  Daily Work Load Average  Body Mass Index  Education  Children  Pets  \
0     33                  239.554               30          1         2     1
1     50                  239.554               31          1         1     0
2     38                  239.554               31          1         0     0
3     39                  239.554               24          1         2     0
4     33                  239.554               30          1         2     1
..   ...                      ...              ...        ...       ...   ...
695   40                  237.656               22          2         2     0
696   28                  237.656               24          1         1     2
697   28                  237.656               25          2         0     0
698   32                  237.656               25          3         0     0
699   40                  237.656               25          1         1     1

     Absenteeism Time in Hours  14  0  1  2
0                            4   0  0  0  1
1                            0   0  0  0  0
2                            2   0  0  0  1
3                            4   0  0  0  0
4                            2   0  0  0  1
..                         ...  .. .. .. ..
695                          8   0  0  0  0
696                          3   0  0  0  0
697                          8   0  0  0  0
698                          2   0  0  0  1
699                          2   0  0  0  1

[700 rows x 15 columns]

In [214]:
column_names = ['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4']    # Rename the new groups

### Reorder the 4 new reasons

In [215]:
dataset.columns = column_names

if len(column_names) == dataset.shape[1]:
    dataset.columns = column_names
else:
    print("The number of column names does not match the number of columns in the dataset.")

In [216]:
print(dataset.head())

   Reason for Absence        Date  Transportation Expense  Distance to Work  \
0                  26  07/07/2015                     289                36
1                   0  14/07/2015                     118                13
2                  23  15/07/2015                     179                51
3                   7  16/07/2015                     279                 5
4                  23  23/07/2015                     289                36

   Age  Daily Work Load Average  Body Mass Index  Education  Children  Pets  \
0   33                  239.554               30          1         2     1
1   50                  239.554               31          1         1     0
2   38                  239.554               31          1         0     0
3   39                  239.554               24          1         2     0
4   33                  239.554               30          1         2     1

   Absenteeism Time in Hours  Reason_1  Reason_2  Reason_3  Reason_4
0                          4         0         0         0         1
1                          0         0         0         0         0
2                          2         0         0         0         1
3                          4         0         0         0         0
4                          2         0         0         0         1

In [217]:
column_names_reordered = ['Reason for Absence', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours']

In [218]:
dataset = dataset[column_names_reordered]

print(dataset.head())

   Reason for Absence  Reason_1  Reason_2  Reason_3  Reason_4        Date  \
0                  26         0         0         0         1  07/07/2015
1                   0         0         0         0         0  14/07/2015
2                  23         0         0         0         1  15/07/2015
3                   7         0         0         0         0  16/07/2015
4                  23         0         0         0         1  23/07/2015

   Transportation Expense  Distance to Work  Age  Daily Work Load Average  \
0                     289                36   33                  239.554
1                     118                13   50                  239.554
2                     179                51   38                  239.554
3                     279                 5   39                  239.554
4                     289                36   33                  239.554

   Body Mass Index  Education  Children  Pets  Absenteeism Time in Hours
0               30          1         2     1                          4
1               31          1         1     0                          0
2               31          1         0     0                          2
3               24          1         2     0                          4
4               30          1         2     1                          2

In [219]:
dataset = dataset.drop(['Reason for Absence'], axis =1) # drop the Reason for Absence  since dummy reason for absene have been generated

print(dataset.head())

   Reason_1  Reason_2  Reason_3  Reason_4        Date  Transportation Expense  \
0         0         0         0         1  07/07/2015                     289
1         0         0         0         0  14/07/2015                     118
2         0         0         0         1  15/07/2015                     179
3         0         0         0         0  16/07/2015                     279
4         0         0         0         1  23/07/2015                     289

   Distance to Work  Age  Daily Work Load Average  Body Mass Index  Education  \
0                36   33                  239.554               30          1
1                13   50                  239.554               31          1
2                51   38                  239.554               31          1
3                 5   39                  239.554               24          1
4                36   33                  239.554               30          1

   Children  Pets  Absenteeism Time in Hours
0         2     1                          4
1         1     0                          0
2         0     0                          2
3         2     0                          4
4         2     1                          2

### Creating Checkpoint

this is necessary so that if anything happens to the code , it won't after the whoel work

In [220]:
dataset_new = dataset.copy()

In [221]:
print(dataset_new.head())

   Reason_1  Reason_2  Reason_3  Reason_4        Date  Transportation Expense  \
0         0         0         0         1  07/07/2015                     289
1         0         0         0         0  14/07/2015                     118
2         0         0         0         1  15/07/2015                     179
3         0         0         0         0  16/07/2015                     279
4         0         0         0         1  23/07/2015                     289

   Distance to Work  Age  Daily Work Load Average  Body Mass Index  Education  \
0                36   33                  239.554               30          1
1                13   50                  239.554               31          1
2                51   38                  239.554               31          1
3                 5   39                  239.554               24          1
4                36   33                  239.554               30          1

   Children  Pets  Absenteeism Time in Hours
0         2     1                          4
1         1     0                          0
2         0     0                          2
3         2     0                          4
4         2     1                          2

### Analysing the Date column and formatting it

In [222]:
# Convert 'Date' to datetime
dataset_new['Date'] = pd.to_datetime(dataset_new['Date'], format='%d/%m/%Y')

# Extract month, and day of the week
#dataset_new['Month'][0].month
#dataset['DayOfWeek'] = dataset['Date'].dt.day_name()

list_months = []
for i in range(700):
  list_months.append(dataset_new['Date'][i].month)


print(list_months)

[7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

In [223]:
dataset_new['Month Value'] = list_months

print(dataset_new.head())

   Reason_1  Reason_2  Reason_3  Reason_4       Date  Transportation Expense  \
0         0         0         0         1 2015-07-07                     289
1         0         0         0         0 2015-07-14                     118
2         0         0         0         1 2015-07-15                     179
3         0         0         0         0 2015-07-16                     279
4         0         0         0         1 2015-07-23                     289

   Distance to Work  Age  Daily Work Load Average  Body Mass Index  Education  \
0                36   33                  239.554               30          1
1                13   50                  239.554               31          1
2                51   38                  239.554               31          1
3                 5   39                  239.554               24          1
4                36   33                  239.554               30          1

   Children  Pets  Absenteeism Time in Hours  Month Value
0         2     1                          4            7
1         1     0                          0            7
2         0     0                          2            7
3         2     0                          4            7
4         2     1                          2            7

In [224]:
def date_to_weekday(date_value):
        return date_value.weekday()

dataset_new['Day of the Week'] = dataset_new['Date'].apply(date_to_weekday)

In [225]:
print(dataset_new)

     Reason_1  Reason_2  Reason_3  Reason_4       Date  \
0           0         0         0         1 2015-07-07
1           0         0         0         0 2015-07-14
2           0         0         0         1 2015-07-15
3           0         0         0         0 2015-07-16
4           0         0         0         1 2015-07-23
..        ...       ...       ...       ...        ...
695         0         0         0         0 2018-05-23
696         0         0         0         0 2018-05-23
697         0         0         0         0 2018-05-24
698         0         0         0         1 2018-05-24
699         0         0         0         1 2018-05-31

     Transportation Expense  Distance to Work  Age  Daily Work Load Average  \
0                       289                36   33                  239.554
1                       118                13   50                  239.554
2                       179                51   38                  239.554
3                       279                 5   39                  239.554
4                       289                36   33                  239.554
..                      ...               ...  ...                      ...
695                     179                22   40                  237.656
696                     225                26   28                  237.656
697                     330                16   28                  237.656
698                     235                16   32                  237.656
699                     291                31   40                  237.656

     Body Mass Index  Education  Children  Pets  Absenteeism Time in Hours  \
0                 30          1         2     1                          4
1                 31          1         1     0                          0
2                 31          1         0     0                          2
3                 24          1         2     0                          4
4                 30          1         2     1                          2
..               ...        ...       ...   ...                        ...
695               22          2         2     0                          8
696               24          1         1     2                          3
697               25          2         0     0                          8
698               25          3         0     0                          2
699               25          1         1     1                          2

     Month Value  Day of the Week
0              7                1
1              7                1
2              7                2
3              7                3
4              7                3
..           ...              ...
695            5                2
696            5                2
697            5                3
698            5                3
699            5                3

[700 rows x 16 columns]

In [226]:
dataset_new.columns

Index(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education', 'Children',
       'Pets', 'Absenteeism Time in Hours', 'Month Value', 'Day of the Week'],
      dtype='object')

In [227]:
# Extract the list of columns
columns = list(dataset_new.columns)

# Find the index of the original 'Date' column
date_index = columns.index('Date')

# Remove 'Month' and 'DayOfWeek' from their current positions
columns.remove('Month Value')
columns.remove('Day of the Week')

# Insert 'Month' and 'DayOfWeek' at the position of the original 'Date' column
columns.insert(date_index, 'Month Value')
columns.insert(date_index + 1, 'Day of the Week')

# Reorder the DataFrame columns
dataset_new = dataset_new[columns]

In [228]:
print(dataset_new.head(5))

   Reason_1  Reason_2  Reason_3  Reason_4  Month Value  Day of the Week  \
0         0         0         0         1            7                1
1         0         0         0         0            7                1
2         0         0         0         1            7                2
3         0         0         0         0            7                3
4         0         0         0         1            7                3

        Date  Transportation Expense  Distance to Work  Age  \
0 2015-07-07                     289                36   33
1 2015-07-14                     118                13   50
2 2015-07-15                     179                51   38
3 2015-07-16                     279                 5   39
4 2015-07-23                     289                36   33

   Daily Work Load Average  Body Mass Index  Education  Children  Pets  \
0                  239.554               30          1         2     1
1                  239.554               31          1         1     0
2                  239.554               31          1         0     0
3                  239.554               24          1         2     0
4                  239.554               30          1         2     1

   Absenteeism Time in Hours
0                          4
1                          0
2                          2
3                          4
4                          2

In [229]:
dataset_new['Education'].unique()

array([1, 3, 2, 4])

In [230]:
dataset_new['Education'].value_counts()

1    583
3     73
2     40
4      4
Name: Education, dtype: int64

In [231]:
dataset_new['Education'] = dataset_new['Education'].map({1:0, 2:1, 3:1, 4:1})     # we replace 2,3, and 4 with value 1 because their total count is not individually significant to value count of 1

In [232]:
dataset_new['Education'].value_counts()

0    583
1    117
Name: Education, dtype: int64

In [233]:
print(dataset.tail(5))

     Reason_1  Reason_2  Reason_3  Reason_4        Date  \
695         0         0         0         0  23/05/2018
696         0         0         0         0  23/05/2018
697         0         0         0         0  24/05/2018
698         0         0         0         1  24/05/2018
699         0         0         0         1  31/05/2018

     Transportation Expense  Distance to Work  Age  Daily Work Load Average  \
695                     179                22   40                  237.656
696                     225                26   28                  237.656
697                     330                16   28                  237.656
698                     235                16   32                  237.656
699                     291                31   40                  237.656

     Body Mass Index  Education  Children  Pets  Absenteeism Time in Hours
695               22          2         2     0                          8
696               24          1         1     2                          3
697               25          2         0     0                          8
698               25          3         0     0                          2
699               25          1         1     1                          2

In [234]:
preprocessed_dataset = dataset_new.copy()

In [235]:
print(preprocessed_dataset.head(10))

   Reason_1  Reason_2  Reason_3  Reason_4  Month Value  Day of the Week  \
0         0         0         0         1            7                1
1         0         0         0         0            7                1
2         0         0         0         1            7                2
3         0         0         0         0            7                3
4         0         0         0         1            7                3
5         0         0         0         1            7                4
6         0         0         0         1            7                4
7         0         0         0         1            7                4
8         0         0         1         0            7                0
9         0         0         0         1            7                0

        Date  Transportation Expense  Distance to Work  Age  \
0 2015-07-07                     289                36   33
1 2015-07-14                     118                13   50
2 2015-07-15                     179                51   38
3 2015-07-16                     279                 5   39
4 2015-07-23                     289                36   33
5 2015-07-10                     179                51   38
6 2015-07-17                     361                52   28
7 2015-07-24                     260                50   36
8 2015-07-06                     155                12   34
9 2015-07-13                     235                11   37

   Daily Work Load Average  Body Mass Index  Education  Children  Pets  \
0                  239.554               30          0         2     1
1                  239.554               31          0         1     0
2                  239.554               31          0         0     0
3                  239.554               24          0         2     0
4                  239.554               30          0         2     1
5                  239.554               31          0         0     0
6                  239.554               27          0         1     4
7                  239.554               23          0         4     0
8                  239.554               25          0         2     0
9                  239.554               29          1         1     1

   Absenteeism Time in Hours
0                          4
1                          0
2                          2
3                          4
4                          2
5                          2
6                          8
7                          4
8                         40
9                          8

In [237]:
 #Save to a CSV file
preprocessed_dataset.to_csv('Absenteeism_processed_data.csv', index=False)